<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<nav class="navbar">

  <ul class="menu">
    <li class="menu1"><a routerLink="/listaempleados">Lista empleados</a></li>
    <li class="menu1"><a routerLink="/listaproductos">Lista productos</a></li>
    <li><a routerLink=""><img class= "img" src="../../assets/imagenes/png-clipart-texas-longhorn-english-longhorn-longhorn-steakhouse-lone-grove-others-cow-goat-family-logo.png" alt=""></a></li>
    <li><a routerLink="/addproductos">Agregar productos</a></li>
    <li><a routerLink="/addempleados">Agregar empleados</a></li>

  </ul>
</nav>

<div class="container">


  <p>
      Este es un proyecto
    <span>
  DASHBOARD ADMIN</span>
    &mdash; Productos de alta calidad &mdash;
  </p>

